importing necessary library

In [ ]:
# creating a pull request
import pandas as pd
import tensorflow as tf

In [2]:
from matplotlib import pyplot as plt
pd.options.display.max_rows = 10
import numpy as np
pd.options.display.float_format = '{:.1f}'.format

read data using pandas

In [3]:
train_data = pd.read_csv('/content/train_ctrUa4K.csv')
solution = pd.read_csv('/content/test_lAUu6dG.csv')
sample = pd.read_csv('/content/test_lAUu6dG.csv')

view the data

In [4]:
train_data

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
0    LP001002    Male      No  ...            1.0         Urban           Y
1    LP001003    Male     Yes  ...            1.0         Rural           N
2    LP001005    Male     Yes  ...            1.0         Urban           Y
3    LP001006    Male     Yes  ...            1.0         Urban           Y
4    LP001008    Male      No  ...            1.0         Urban           Y
..        ...     ...     ...  ...            ...           ...         ...
609  LP002978  Female      No  ...            1.0         Rural           Y
610  LP002979    Male     Yes  ...            1.0         Rural           Y
611  LP002983    Male     Yes  ...            1.0         Urban           Y
612  LP002984    Male     Yes  ...            1.0         Urban           Y
613  LP002990  Female      No  ...            0.0     Semiurban           N

[614 rows x 13 columns]

train_data shape

In [5]:
train_data.shape

(614, 13)

In [6]:
train_data.describe()

       ApplicantIncome  CoapplicantIncome  ...  Loan_Amount_Term  Credit_History
count            614.0              614.0  ...             600.0           564.0
mean            5403.5             1621.2  ...             342.0             0.8
std             6109.0             2926.2  ...              65.1             0.4
min              150.0                0.0  ...              12.0             0.0
25%             2877.5                0.0  ...             360.0             1.0
50%             3812.5             1188.5  ...             360.0             1.0
75%             5795.0             2297.2  ...             360.0             1.0
max            81000.0            41667.0  ...             480.0             1.0

[8 rows x 5 columns]

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [8]:
df = train_data

replacing string into numerical value

In [9]:
df['Loan_Status'].replace('Y',1,inplace=True)
df['Loan_Status'].replace('N',0,inplace=True)

filling null values with mean value for numerical data

In [10]:
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].mean())
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mean())
df['Credit_History'] = df['Credit_History'].fillna(df['Credit_History'].mean())

filling null values with common value in the column for categorical data

In [11]:
df['Gender'] = df["Gender"].fillna(df['Gender'].mode()[0])
df['Married'] = df["Married"].fillna(df['Married'].mode()[0])
df['Dependents'] = df["Dependents"].fillna(df['Dependents'].mode()[0])
df['Self_Employed'] = df["Self_Employed"].fillna(df['Self_Employed'].mode()[0])

In [16]:
s = (train_data.dtypes == 'object')
object_cols = list(s[s].index)
print(object_cols)

['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'Property_Area']

In [17]:
train_data

      Loan_ID  Gender Married  ... Credit_History Property_Area Loan_Status
0    LP001002    Male      No  ...            1.0         Urban           1
1    LP001003    Male     Yes  ...            1.0         Rural           0
2    LP001005    Male     Yes  ...            1.0         Urban           1
3    LP001006    Male     Yes  ...            1.0         Urban           1
4    LP001008    Male      No  ...            1.0         Urban           1
..        ...     ...     ...  ...            ...           ...         ...
609  LP002978  Female      No  ...            1.0         Rural           1
610  LP002979    Male     Yes  ...            1.0         Rural           1
611  LP002983    Male     Yes  ...            1.0         Urban           1
612  LP002984    Male     Yes  ...            1.0         Urban           1
613  LP002990  Female      No  ...            0.0     Semiurban           0

[614 rows x 13 columns]

splitting the data into train and test data

In [19]:
from sklearn.model_selection import train_test_split
X = train_data
X_test = solution
X.dropna(axis=0, subset=['Loan_Status'], inplace=True)
y = X.Loan_Status
X.drop(columns = ['Loan_Status'], axis = 1, inplace = True)
X_train, X_valid, y_train, y_valid = train_test_split(X, y,
                                                      train_size=0.8, test_size=0.2,
                                                      random_state=0)

one hot encoding the categorical data into numerical data
normalizing the numerical data

In [20]:
from sklearn.preprocessing import OneHotEncoder

# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(X_train[object_cols]))
OH_cols_valid = pd.DataFrame(OH_encoder.transform(X_valid[object_cols]))

# One-hot encoding removed index; put it back
OH_cols_train.index = X_train.index
OH_cols_valid.index = X_valid.index

# Remove categorical columns (will replace with one-hot encoding)
num_X_train = X_train.drop(object_cols, axis=1)
num_X_valid = X_valid.drop(object_cols, axis=1)

# Add one-hot encoded columns to numerical features
OH_X_train = pd.concat([num_X_train, OH_cols_train], axis=1)
OH_X_valid = pd.concat([num_X_valid, OH_cols_valid], axis=1)

In [56]:
OH_X_train

     ApplicantIncome  CoapplicantIncome  LoanAmount  ...  503  504  505
90              2958             2900.0       131.0  ...  0.0  1.0  0.0
533            11250                0.0       196.0  ...  0.0  1.0  0.0
452             3948             1733.0       149.0  ...  1.0  0.0  0.0
355             3813                0.0       116.0  ...  0.0  0.0  1.0
266             4708             1387.0       150.0  ...  0.0  1.0  0.0
..               ...                ...         ...  ...  ...  ...  ...
277             3103             1300.0        80.0  ...  0.0  0.0  1.0
9              12841            10968.0       349.0  ...  0.0  1.0  0.0
359             5167             3167.0       200.0  ...  0.0  1.0  0.0
192             6033                0.0       160.0  ...  0.0  0.0  1.0
559             4180             2306.0       182.0  ...  0.0  1.0  0.0

[491 rows x 511 columns]

In [57]:
OH_X_valid

     ApplicantIncome  CoapplicantIncome  LoanAmount  ...  503  504  505
454             7085                0.0        84.0  ...  0.0  1.0  0.0
52              4230                0.0       112.0  ...  0.0  1.0  0.0
536             6133             3906.0       324.0  ...  0.0  0.0  1.0
469             4333             2451.0       110.0  ...  0.0  0.0  1.0
55              2708             1167.0        97.0  ...  0.0  1.0  0.0
..               ...                ...         ...  ...  ...  ...  ...
337             2500             4600.0       176.0  ...  1.0  0.0  0.0
376             8750             4996.0       130.0  ...  1.0  0.0  0.0
278            14583                0.0       436.0  ...  0.0  1.0  0.0
466             2947             1664.0        70.0  ...  0.0  0.0  1.0
303             1625             1803.0        96.0  ...  0.0  0.0  1.0

[123 rows x 511 columns]

In [49]:
from sklearn.linear_model import LogisticRegression

training and prediction using logistic regression because the target value is either 1 or 0

In [55]:
lin_model = LogisticRegression()
lin_model.fit(OH_X_train,y_train)

prediction = lin_model.predict(OH_X_valid)
print(metrics.accuracy_score(prediction,y_valid))
print(mean_absolute_error(y_valid,prediction))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

0.8373983739837398
0.16260162601626016

store the predicted value to the csv file

In [62]:
output = pd.DataFrame({'Id': X_valid.index,
                       'Loan_Status': prediction})
output.to_csv('submission.csv', index=False)